/* =========================
    Create and Edit views
    ========================= */

.house-create,
.house-edit {
  background-image: url("./img_background@3x.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Large devices */
@media (min-width: 769px) {
  .house-create-wrapper, 
  .house-edit-wraper {
    width: 50%;
  }
  .house-create-wrapper,
  .house-edit-wrapper {
    max-width: 500px;
    padding: 48px 0;
  }
  .create-header-sm,
  .edit-header-sm {
    display: none
  }
  .back-label {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
    color: var(--black)
  }
  .btn-edit-back,
  .btn-create-back {
    gap: 15px;
  }
  .create-header-lg,
  .edit-header-lg {
    padding: 20px 0;
  }
}
/* Small devices */
@media (max-width: 768px) {
  .house-create-wrapper,
  .house-edit-wrapper {
    width: 100%;
    padding: 0;
    margin-bottom: 60px;
  }
  .back-label {
    display: none;
  }
  .create-header-lg,
  .edit-header-lg {
    display: none
  }
  .create-header-row,
  .edit-header-row {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
  }
  .create-header-sm,
  .edit-header-sm {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    text-align: center;
  }
}