/* CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* header */
header {
    background: #FFFFFF;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-header {
    width: 70%;
    display:flex;
    align-items: center;
}
.nav-header img {
    max-width: 60px;
    padding: 0 20px 0 0
}
.nav-header a {
    padding: 20px;
    color: #4A4B4C;
    text-decoration: none;
    font-size: 18px;
}
.nav-header a.router-link-active {
    color: #000000;
    font-weight: bold;
}
/* Small devices */
@media (max-width: 1000px) {
    header {
        display: none;
    }
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    background: #FFFFFF;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav-footer {
    display:flex;
    align-items: center;
}
.nav-footer a {
    padding: 0 20px;
    color: #4A4B4C;
    text-decoration: none;
}
.btn-home {
    content:url("./ic_mobile_navigarion_home@3x.png")
}
a.router-link-exact-active .btn-home {
    content:url("./ic_mobile_navigarion_home_active@3x.png")
}
.btn-about {
    content:url("./ic_mobile_navigarion_info@3x.png")
}
a.router-link-exact-active .btn-about {
    content:url("./ic_mobile_navigarion_info_active@3x.png")
}
.nav-footer img {
    max-width: 40px;
    margin: 0 100px;
}
.btn-home {
    float: left;
}
.btn-about {
    float: right;
}
/* Large devices */
@media (min-width: 1000px) {
    footer {
        display: none;
    }
}